@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Scheherazade+New&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    /* background-image: radial-gradient(rgba(120,0,0),black); 
    color: #ffff; */
}

hr {
    display: block;
    height: 2px;
    border-width: 0;
    color: #525252;
    background-color: rgba(102, 0, 0);
}

/* headings and logo */

h1,
h2 {
    font-family: 'Baskervville', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

}

#menu {
    float: right;
    font-size: 140%;
}

#menu,
#logo {
    line-height: 100px;
}

#menu li {
    text-align: right;
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #525252
}

.active {
    border-bottom: 1px solid #525252;
}


/* hero image & hero text*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    z-index: 1;
}

#hero-text,
#hero-text h2 {
    color: #ffff;
    font-size: 100%;
}


#hero-desktop {
    height: 500px;
    width: 100%;
    background-size: cover;
    background: url(../assests/images/hero-1800.jpg) no-repeat center center;
    z-index: 1;
}

#hero-text {
    font-size: 150%;
    font-family: 'Baskervville', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 500px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;



    background-color: rgba(102, 0, 0, .6);

    bottom: 50px;
    right: 150px;

    position: absolute;
}

/* Begin adventure animated button */

.adv-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(102, 0, 0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.adv-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.adv-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.adv-button:hover span {
    padding-right: 25px;
}

.adv-button:hover span:after {
    opacity: 1;
    right: 0;
}

.adv-button a {
    text-decoration: none;
    color: #ffff;
}

/* footer */

footer {
    height: 150px;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
}

/* character creation */

#creation {
    padding-top: 100px;
}

#creation h1 {
    font-size: 300%;
}

/*

#class-images {
    width: 1200px;
    margin: 0 auto;
    font-size: 0px;
}

#class-images a {
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
}

*/


/* popup windows for class description */

.class-image {
    margin: 10px;
    border: 2px solid black;
    display: inline-block;     
}

.img-container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #525252;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 16px;
    font-weight: 500;
}

.popup {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.popup-inner {
    background-color: #ffff;
    padding: 32px 16px;
    max-width: 768px;
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.popup:target {
    opacity: 1;
    pointer-events: all;
}